section.contact_us#contact_us
    h3.contact_us__title Nuestros canales de atención
    .contact_us__social_media 
        each media in social_media
            if media.title == "Instagram"
                a(target="_blank" href=media.link class="contact_us__social_media--link contact_us__social_media--instagram") 
                    h3= media.title
                    i(class="fa-brands fa-instagram")
            if media.title == "Whatsapp"
                a(target="_blank" href=media.link class="contact_us__social_media--link contact_us__social_media--whatsapp") 
                    h3= media.title
                    i(class="fa-brands fa-whatsapp")
            if media.title == "Facebook"
                a(target="_blank" href=media.link class="contact_us__social_media--link contact_us__social_media--facebook") 
                    h3= media.title
                    i(class="fa-brands fa-facebook")
            

